In [1]:
import pandas as pd
import numpy as np
import re

In [5]:
news_data=pd.read_csv("/uci-news-aggregator.csv")
news_data.head()
news_data.describe(include='all')

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
count,422419.000000,422419,422419,422417,422419,422419,422419,4.224190e+05
unique,NaN,406455,422223,10985,4,7230,11236,NaN
top,NaN,The article requested cannot be found! Please ...,http://www.japantimes.co.jp/news/2014/04/18/wo...,Reuters,e,dubwcJArLL_qAKML5LGPLiunKzNLM,in.reuters.com,NaN
freq,NaN,145,5,3902,152469,450,2877,NaN
mean,211536.764594,NaN,NaN,NaN,NaN,NaN,NaN,1.400445e+12
std,122102.839707,NaN,NaN,NaN,NaN,NaN,NaN,3.733088e+09
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.394470e+12
25%,105801.500000,NaN,NaN,NaN,NaN,NaN,NaN,1.397349e+12
50%,211655.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.399990e+12
75%,317273.500000,NaN,NaN,NaN,NaN,NaN,NaN,1.403775e+12
max,422937.000000,NaN,NaN,NaN,NaN,NaN,NaN,1.409229e+12

# Regex
So you want to match patterns effectively in a string, to effectively clean the textual data, which needs to be processed. Effective way to do is through the use of *Regular*(***Reg***) *Expressions*(***Ex***) or ***Regex*** library. For this we just have to match patterns in a given text and format according to our needs. Generally it involves removing the special characters which mean less to NLP algorithms. 
```python
import re
example_text="anything you want to have"
pattern=re.compile(r'') #anything between single quotes directs the regex to compile the pattern we would look for in the text.
matched=pattern.finditer(example_text) #then you iterate over the text looking for patterns and storing any matched values.
```
1. Different shortcuts used with ```re.compile(r'')``` 
    1. ```r'.'``` = Any character except newline
    2. ```r'\d'```= digits [0-9]
    3. ```r'\w'```= word character [a-z],[A-Z],[0-9],[underscore]
    4. ```r'\s'```= whitespace(spaces,tabs,newline)
2. Anchors which are used to define spaces in the text
    1. ```r'\bsome_text'```= '\b' stands for Word boundary so it will search for some_text with the word boundary.
    2. ```r'^some_text'```='^' start of the string. Therefore this matches only when some_text is present at the start of string.
    3. ```r'some_text$'```='$' start of the string. Therefore this matches only when some_text is present at the start of string.
3. Brackets
    1. ```r'[]'```= matches character in the brackets
    2. ```r'[^]'```= matches character NOT in the brackets
    3. ```r'|'``` = Either or
    4. ```r'()'```= Group by
4. Quantifiers
    1. ```*```= 0 or more
    2. ```+```= 1 or more
    3. ```?```= 0 or 1
    4. ```{3}```= Exact number
    5. ```{3,6}```= Range of numbers
5. Methods associated with Regex
    1. finditer
    2. findall
    3. match
    4. search
6. Flags

In [5]:
example_text="anything you want to have"
pattern= re.compile(r'.')
matched=pattern.finditer(example_text)
for match in matched:
    print(match)

<re.Match object; span=(0, 1), match='a'>
<re.Match object; span=(1, 2), match='n'>
<re.Match object; span=(2, 3), match='y'>
<re.Match object; span=(3, 4), match='t'>
<re.Match object; span=(4, 5), match='h'>
<re.Match object; span=(5, 6), match='i'>
<re.Match object; span=(6, 7), match='n'>
<re.Match object; span=(7, 8), match='g'>
<re.Match object; span=(8, 9), match=' '>
<re.Match object; span=(9, 10), match='y'>
<re.Match object; span=(10, 11), match='o'>
<re.Match object; span=(11, 12), match='u'>
<re.Match object; span=(12, 13), match=' '>
<re.Match object; span=(13, 14), match='w'>
<re.Match object; span=(14, 15), match='a'>
<re.Match object; span=(15, 16), match='n'>
<re.Match object; span=(16, 17), match='t'>
<re.Match object; span=(17, 18), match=' '>
<re.Match object; span=(18, 19), match='t'>
<re.Match object; span=(19, 20), match='o'>
<re.Match object; span=(20, 21), match=' '>
<re.Match object; span=(21, 22), match='h'>
<re.Match object; span=(22, 23), match='a'>
<re.Match object; span=(23, 24), match='v'>
<re.Match object; span=(24, 25), match='e'>